Repository voxpupuli/puppet-telegraf, pull requests merged in 2019-12, with the labels that each got.

#130 drop Ubuntu 14.04 support
  metadata.json
Labels: backwards-incompatible

#132 modulesync 2.9.0
  .github/CONTRIBUTING.md
  .msync.yml
  .travis.yml
  Dockerfile
  Gemfile
  Rakefile
  manifests/install.pp
  manifests/params.pp
  spec/spec_helper.rb
Labels: modulesync

#134 Move lookup_options to hiera
  data/defaults.yaml
  hiera.yaml
  manifests/init.pp
  templates/telegraf.conf.erb
Labels: enhancement

#135 modulesync 2.10.0
  .msync.yml
  .rubocop.yml
  .travis.yml
  Gemfile
  Rakefile
Labels: modulesync
