Repository voxpupuli/puppet-telegraf, pull requests merged in 2021-02, with the labels that each got.

#162 Drop EoL windows server 2008, drop EoL Puppet 5, add Puppet 7
  metadata.json
Labels: backwards-incompatible

#161 Add support for Darwin
  manifests/init.pp
  manifests/install.pp
  manifests/params.pp
  metadata.json
  spec/classes/telegraf_spec.rb
  spec/defines/aggregator_spec.rb
  spec/defines/input_spec.rb
  spec/defines/processor_spec.rb
  spec/hieradata/test/darwin.yaml
  templates/telegraf.plist.epp
Labels: enhancement

#163 Prepare for 4.0.0 release
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog
