Repository voxpupuli/puppet-telegraf, pull requests merged in 2023-06, with the labels that each got.

#206 Add creates param to all archive resources
  manifests/install.pp
Labels: bug

#207 use stdlib::to_toml instead of toml gem
  .sync.yml
  Gemfile
  README.md
  manifests/aggregator.pp
  manifests/config.pp
  manifests/input.pp
  manifests/install.pp
  manifests/output.pp
  manifests/processor.pp
  metadata.json
  spec/spec_helper_acceptance.rb
  templates/telegraf.conf.erb
Labels: backwards-incompatible

#208 Add Rocky/AlmaLinux/EL9 support
  metadata.json
Labels: enhancement

#209 Add Ubuntu 20.04/22.04 support
  metadata.json
Labels: enhancement

#211 Make log rotation configureable
  REFERENCE.md
  manifests/config.pp
  manifests/init.pp
  manifests/params.pp
  spec/classes/telegraf_spec.rb
  spec/hieradata/test/telegraf.yaml
Labels: enhancement
