Repository voxpupuli/puppet-telegraf, pull requests merged in 2025-06, with the labels that each got.

#234 modulesync 9.6.0
  .github/CONTRIBUTING.md
  .github/labeler.yml
  .github/release.yml
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/prepare_release.yml
  .github/workflows/release.yml
  .msync.yml
  .pmtignore
  .puppet-lint.rc
  Gemfile
  manifests/install.pp
  spec/classes/telegraf_spec.rb
  spec/defines/aggregator_spec.rb
  spec/defines/input_spec.rb
  spec/defines/output_spec.rb
  spec/defines/processor_spec.rb
  spec/spec_helper.rb
Labels: modulesync

#237 metadata.json: Add OpenVox
  metadata.json
Labels: enhancement

#239 chore: cleanup .fixtures.yml
  .fixtures.yml
Labels: skip-changelog
